<div class="filter-container">
  <input class="input-search-task" type="text" placeholder="Filtrar por título" (input)="changeSearchTask($event)" />

  <div class="filter-modes">
    <label>
      <input type="radio" name="filterMode" checked (change)="changeFilterMode('all')">
      <span class="input-radio-text">Todas</span>
    </label>
    <label>
      <input type="radio" name="filterMode" (change)="changeFilterMode('completed')">
      <span class="input-radio-text">Feitas</span>
    </label>
    <label>
      <input type="radio" name="filterMode" (change)="changeFilterMode('not-completed')">
      <span class="input-radio-text">Não feitas</span>
    </label>
  </div>
</div>
