.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.input-search-task {
  width: 300px;
  padding: 4px;
  border: 1px solid black;
}

.filter-modes {
  display: flex;
  column-gap: 10px;
}

.input-radio-text {
  margin-left: 3px;
}
