<form class="form" [formGroup]="taskCreationForm" (submit)="createTask()">
  <label class="text-label">
    <span class="text-label-name">Nome</span>
    <input class="text-input" type="text" placeholder="" formControlName="title" />
  </label>

  @if (taskCreationForm.controls.title.invalid && !taskCreationForm.controls.title.dirty) {
    <span class="error-message">Nome inválido</span>
  }

  <label class="text-label">
    <span class="text-label-name">Descrição</span>
    <textarea class="text-input" placeholder="" rows="3" formControlName="description"></textarea>
  </label>

  @if (taskCreationForm.controls.description.invalid && !taskCreationForm.controls.description.dirty) {
    <span class="error-message">Descrição inválida</span>
  }

  <div>
    <span>Opcionais:</span>

    <div class="form-group">
      <label class="flex-label">
        <span>Data:</span>
        <input class="border-input" type="date" formControlName="dueDate" />
      </label>
      <label class="flex-label">
        <span>Prioridade:</span>
        <select class="border-input" formControlName="priority">
          <option value="not defined">Não definida</option>
          <option value="low">Baixa</option>
          <option value="medium">Média</option>
          <option value="high">Alta</option>
        </select>
      </label>
      <label class="flex-label">
        <input type="checkbox" formControlName="completed" />
        <span>Feito</span>
      </label>
    </div>
  </div>

  <div class="buttons">
    <button class="cancel-btn" (click)="cancelTaskCreation()">Cancelar</button>
    <button class="create-btn">Criar</button>
  </div>
</form>
