<li class="task">
  <div class="task-header">
    <span class="task-name">{{task().title}}</span>

    <span class="task-actions">
      <button (click)="toggleCompleted()">
        <fa-icon [icon]="task().completed ? faXmark : faCheck" /> 
        {{task().completed ? 'Marcar "Não Feito"' : 'Marcar "Feito"'}}
      </button>
      <button (click)="removeTask()">
        <fa-icon [icon]="faTrash" />
        Remover
      </button>
    </span>
  </div>

  <div class="task-info">
    <span class="task-due-date">Data de entrega: {{task().dueDate?.toLocaleDateString() ?? 'Não definida'}}</span>
    <span class="task-priority">Prioridade: {{priority()}}</span>
    <span class="task-priority">Feito: {{task().completed ? 'Sim' : 'Não'}}</span>
  </div>

  <p class="task-description">{{task().description}}</p>
</li>
