<li>
  <div class="task-content">
    <div class="task-header items">
      <span class="task-name">
        @if (task().completed) {
          <fa-icon class="front-icon completed-icon" [icon]="faCheck" />
        } @else if (isTaskLate) {
          <fa-icon class="calendar-icon" [icon]="faCalendarXmark" />
        } @else {
          <fa-icon class="front-icon not-completed-icon" [icon]="faXmark" />
        }

        {{task().title}}
      </span>

      <span class="task-actions">
        <button class="task-btn" (click)="toggleCompleted()">
          <fa-icon
            [ngClass]="{
              'small-icon': true,
              'completed-icon': !task().completed,
              'not-completed-icon': task().completed,
            }"
            [icon]="task().completed ? faXmark : faCheck"
          /> 
          {{task().completed ? 'Marcar "Não Feito"' : 'Marcar "Feito"'}}
        </button>
        <button class="task-btn" (click)="removeTask()">
          <fa-icon class="small-icon" [icon]="faTrash" />
          Remover
        </button>
      </span>
    </div>

    <div class="task-info items-divisor">
      <span>Data de entrega: {{overDueDate?.toLocaleDateString() ?? 'Não definida'}}</span>
      <span>Prioridade: {{priority()}}</span>
      <span>Feito: {{task().completed ? 'Sim' : 'Não'}}</span>
      <span>Atrasado: {{isTaskLate ? 'Sim' : 'Não'}}</span>
    </div>

    <p class="task-description">{{task().description}}</p>
  </div>

  @if (task().subtasks.length) {
    <ul class="subtask-list">
      @for (subtask of task().subtasks; track $index) {
        <app-subtask-item [task]="this.task()" [subtask]="subtask" />
      }
    </ul>
  }

  <div class="create-subtask-container">
    @if (isViewMode) {
      <button class="create-subtask-btn" (click)="goToSubtaskCreation()">Criar subtarefa</button>
    } @else {
      <app-create-subtask (subtaskCancelled)="goToViewMode()" (subtaskCreated)="createSubtask($event)" />
    }
  </div>
</li>
