<li class="subtask">
  <label class="subtask-checkbox-label">
    <input class="checkbox" type="checkbox" [checked]="subtask().completed" (change)="toggleCompleted()" />
    <fa-icon
      [ngClass]="{
        'status-icon': true,
        'completed-icon': subtask().completed,
        'not-completed-icon': !subtask().completed,
      }"
      [icon]="subtask().completed ? faCheck : faXmark"
    />
  </label>

  <span class="subtask-name">{{subtask().title}}</span>

  <button class="subtask-btn" (click)="removeSubtask()">
    <fa-icon [icon]="faTrash" />
    Remover
  </button>
</li>
