.subtask {
  display: flex;
  align-items: center;
  padding: 10px;
}

.subtask-checkbox-label {
  cursor: pointer;
}

.checkbox {
  position: absolute;
  appearance: none;
}

.status-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.subtask-name {
  font-size: 1.2rem;
  font-weight: bold;
  flex-grow: 1;
  padding-inline: 10px;
  margin-inline: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.subtask-btn {
  padding-inline: 6px;
}
.subtask-btn:hover {
  background-color: rgb(240, 240, 240);
}
