:root {
  --btn-color1: rgb(57, 207, 69);
  --btn-color1-hover: rgb(34, 250, 52);
  --btn-color2: rgb(211, 46, 46);
  --btn-color2-hover: rgb(242, 33, 33);

  --check-color: rgb(3, 213, 3);
  --x-color: rgb(255, 23, 23);
  --calendarXMark-color: rgb(186, 46, 46);
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

textarea {
  resize: none;
}

body {
  background-color: #fafafa;
}

.items-divisor >:not(:first-child)::before {
  content: '';
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  height: 100%;
  margin-inline: 10px;
}

.completed-icon {
  color: var(--check-color);
}

.not-completed-icon {
  color: var(--x-color);
}

:has(.cdk-drop-list-dragging) {
  cursor: grabbing;
}
