<div class="task-list-container">
  @if (filteredTasks.length === 0) {
    <div class="no-tasks">Sem tarefas</div>
  } @else {
    <ul class="task-list">
      @for (task of filteredTasks; track $index) {
        <app-task-list-item [task]="task"></app-task-list-item>
      }
    </ul>
  }

  <div class="create-task-container">
    @if (isViewMode) {
      <button class="create-task-btn" (click)="goToTaskCreation()">
        Criar
        <fa-icon [icon]="faPlus" class="add-icon" />
        tarefa
      </button>
    } @else {
      <app-create-task (taskCancelled)="goToViewMode()" (taskCreated)="createTask($event)" />
    }
  </div>
</div>
